<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ asset('bundles/bootstrap/docs/favicon.ico') }}">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/bootstrap/docs/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{{ asset('bundles/bootstrap/docs/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{{ asset('bundles/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/theme.css') }}" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="{{ asset('bundles/bootstrap/docs/assets/js/ie-emulation-modes-warning.js') }}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body role="document">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('huishouden_list',{'jaar':2016}) }}">Bootstrap theme</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% if huishouden is defined %}
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ path('huishouden_view',{'jaar':2016,'huishouden_id':huishouden.id}) }}">Overzicht</a></li>
                            <li class="inactive"><a href="{{ path('huishouden_huishoudboekje',{'jaar':2016,'huishouden_id':huishouden.id}) }}">Huishoudboekje</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Details <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Inkomsten</li>
                                    <li><a href="{{ path('salaris_view',{'jaar':2016,'huishouden_id':huishouden.id}) }}">Salaris</a></li>
                                    <li><a href="{{ path('toeslag_list',{'jaar':2016,'huishouden_id':huishouden.id}) }}">Toeslagen</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Uitgaven</li>
                                    <li><a href="#">Woning</a></li>
                                    <li><a href="#">Kinderen</a></li>
                                    <li><a href="#">Zorg</a></li>
                                    <li><a href="#">Auto</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container theme-showcase" role="main">
            {% block body %}

            {% endblock %}
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('bundles/jquery/jquery.min.js') }}"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/jquery/jquery.min.js') }}"><\/script>')</script>
        <script src="{{ asset('bundles/bootstrap/docs/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/bootstrap/docs/assets/js/docs.min.js') }}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ asset('bundles/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
    </body>
</html>
