{% extends 'BelastingBundle::base.html.twig' %}

{% block title %}{{ huishouden.naam }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Huishoudboekje</h1>
        <p>Op deze pagina vind je snel je netto inkomsten en uitgaven en wat je overhoudt.</p>
    </div>

    <div class="page-header">
        <h1>{{ huishouden.naam }}</h1>
    </div>


    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inkomsten</h3>
                </div>
                <div class="panel-body">
                    <table class="table-salaris">
                        {% for ink in huishouden.inkomsten|keys %}
                            <tr>
                                <td>{{ ink }}</td>
                                <td class="nr">{{ huishouden.inkomsten[ink]|number_format }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Uitgaven</h3>
                </div>
                <div class="panel-body">
                    <table class="table-salaris">
                        {% for uitg in huishouden.uitgaven|keys %}
                            <tr>
                                <td>{{ uitg }}</td>
                                <td class="nr">{{ huishouden.uitgaven[uitg]|number_format }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Te besteden</h3>
                </div>
                <div class="panel-body">
                    Netto over per jaar: <br/>
                    Gemiddeld per maand:
                </div>
            </div>
        </div>

    </div>







{% endblock %}