{% extends 'BelastingBundle::base.html.twig' %}

{% block title %}Toeslagen{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Toeslagen</h1>
        <p>Op deze pagina zie je snel ...</p>
    </div>

    <div class="row">

        <div class="col-sm-4">
            {{ include('BelastingBundle::Huishouden/inkomen.html.twig', { 'huishouden': huishouden }) }}
        </div>

        <div class="col-sm-4">
            {{ include('BelastingBundle::Huishouden/woning.html.twig', { 'huishouden': huishouden }) }}
        </div>

        <div class="col-sm-4">
            {{ include('BelastingBundle::Huishouden/kinderen.html.twig', { 'huishouden': huishouden }) }}
        </div>

    </div>

    <div class="row">

        <div class="col-sm-4">
            {{ include('BelastingBundle::Toeslag/zorgtoeslag.html.twig', { 'huishouden': huishouden }) }}
        </div>

        <div class="col-sm-4">
            {{ include('BelastingBundle::Toeslag/huurtoeslag.html.twig', { 'huishouden': huishouden }) }}
        </div>

        <div class="col-sm-4">
            {{ include('BelastingBundle::Toeslag/kinderbijslag.html.twig', { 'huishouden': huishouden }) }}
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">
            {{ include('BelastingBundle::Toeslag/kinderopvangtoeslag.html.twig', { 'huishouden': huishouden }) }}
        </div>

        <div class="col-sm-4">
            {{ include('BelastingBundle::Toeslag/kindgebondenbudget.html.twig', { 'huishouden': huishouden }) }}
        </div>

    </div>

{% endblock %}