
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Kindgebonden Budget</h3>
    </div>
    <div class="panel-body">
        {% if kinderen %}
            <table class="table-kind">
                {% for mnd in 1..12 %}
                    <tr>
                        <td width="40px">{{ mnd }}</td>
                        {% for n in range( 0, kinderen|length-1 ) %}
                            <td>{{ kinderen[n].naam }},{{ kinderen[n].leeftijd(2015,mnd) }} jaar.</td>
                        {% endfor %}
                        <td>{{ huishouden.kindgebondenbudgetmaand(2015,mnd)|number_format }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="9">Kindgebonden Budget per jaar:</td>
                    <td class="nr">{{ huishouden.kindgebondenbudget|number_format }}</td>
                </tr>
            </table> 
        {% else %}
            geen kinderen
        {% endif %}
    </div>
</div>
